rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /chats/{chatId} {
      allow read, write: if true;

      match /messages/{messageId} {
        allow read, create: if true;
        allow update, delete: if false;
      }
    }

    match /presence/{presenceId} {
      allow read, write: if true;
    }
  }
}
